<!DOCTYPE html>
<html>

  <head>
    <title>Angular Template</title>

    <link rel='stylesheet' href='/vendor/angular-material/angular-material.min.css' />
    <link rel='stylesheet' href='/css/style.css' />

  </head>

  <body ng-app='testApp' layaout="column">

    <!-- Navbar -->
    <div layout="column" layout-fill>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <span>Angular Material Template</span>
          <!-- fill up the space between left and right area -->
          <span flex></span>
          <md-button>
            Button 1
          </md-button>
          <md-button>
            Button 2
          </md-button>
          <md-button>
            Button 3
          </md-button>
        </div>
      </md-toolbar>
      <md-content>

        <ui-view></ui-view>

      </md-content>
    </div>


    <!-- TODO: Footer -->
    <footer class="page-footer light-blue">
      <div class="container">
        <div class="row">
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">FAQ</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Contact</a></li>
          </ul>

        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2016 Michael Liang
          <a class="grey-text text-lighten-4 right" href="#!">View Source Code on Github</a>
        </div>
      </div>
    </footer>

    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/vendor/angular/angular.min.js'></script>
    <script src='/vendor/angular-animate/angular-animate.min.js'></script>
    <script src='/vendor/angular-aria/angular-aria.min.js'></script>
    <script src='/vendor/angular-material/angular-material.min.js'></script>
    <script src='/vendor/angular-ui-router/release/angular-ui-router.js'></script>
    <script src="/js/bundle.js"></script>

  </body>

</html>
