<!DOCTYPE html>
<html>

  <head>
    <title>Angular Template</title>
    <!-- TODO: Go back to bootstrap for template -->
    <link rel="stylesheet" href="https://bootswatch.com/flatly/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />

  </head>

  <body ng-app='testApp'>

    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Angular Template</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">

          <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="login">Login/Register</a></li>
          </ul>
        </div>
      </div>
    </nav>


    <ui-view></ui-view>




    <!-- TODO: Footer -->
    <footer>

    </footer>

    <script src='/vendor/jquery/dist/jquery.min.js'></script>
    <script src='/vendor/angular/angular.min.js'></script>
    <script src='/vendor/angular-ui-router/release/angular-ui-router.js'></script>
    <script src='/vendor/angular-bootstrap/ui-bootstrap.min.js'></script>
    <script src="/js/bundle.js"></script>

  </body>

</html>
